/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border-width:1px;
	border: 1px solid rgb(0, 128, 0);
    border-top-width: 3px;
    border-bottom-width: 3px;
}

#red{
	border:1px solid rgb(0, 0, 0) ;	
	background-color: red;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

#green{
	background-color: green;
	border: 1px solid  rgb(255, 255, 0);
    border-top-width: 3px;
    border-bottom-width: 3px;    
}